<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="wsultimocierreSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="wsbcucotizacionesSoapBinding">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsultimocierre"
                binding="basicHttpBinding" bindingConfiguration="wsultimocierreSoapBinding"
                contract="UltimoCierreBCU.wsultimocierreSoapPort" name="wsultimocierreSoapPort" />
			<endpoint address="https://cotizaciones.bcu.gub.uy/wscotizaciones/servlet/awsbcucotizaciones"
                binding="basicHttpBinding" bindingConfiguration="wsbcucotizacionesSoapBinding"
                contract="WS_CotizacionBCU.wsbcucotizacionesSoapPort" name="wsbcucotizacionesSoapPort" />
		</client>
	</system.serviceModel>
</configuration>